<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>メニュー</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" (click)="clickLink(1)">Link 1</a>
      <a mat-list-item href="#" (click)="clickLink(2)">Link 2</a>
      <a mat-list-item href="#" (click)="clickLink(3)">マスタ管理</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- タイトル切替 -->
      <div [hidden]="visbleMode!=''">
        <span>なし</span>
      </div>
      <div [hidden]="visbleMode!='会場'">
        <span>会場情報</span>
      </div>
    </mat-toolbar>
    <!-- コンテンツ切替 -->
    <div [hidden]="visbleMode!='会場'">
      <app-place></app-place>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
